# Build output directory
/dist

# OSX
.DS_Store

# JavaScript dependencies
node_modules
.snowpack/

# Local Netlify folder
.netlify

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.production

.eslintcache
.stylelintcache
# ignore the file that can contain env vars
env.sh
